<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TallyCounter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B42A54B11C7C442A00D053B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B42A54C51C7C442A00D053B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B42A54D01C7C442A00D053B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
